{% extends 'base.html.twig' %}

{% block body %}
    <div class="pagetitle">
        <div class="pagetitle-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Consulter la carte</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="map viewport-100"> </div>

    <div class="mb-20 clearfix"></div>

    <div class="wrapper-graybg">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Les dernières saisies d'observations</h3>
                    <div class="titleline"></div>

                    <div class="mb-20"></div>

                    <div class="owl-image owl-carousel owl-theme">
                        <div class="item">
                            <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                                <figcaption>
                                    <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                            <div class="photo-title2">
                                <h5>Lorem ipsum 1</h5>
                                <p>May/17/2016</p>
                            </div>

                        </div>

                        <div class="item">
                            <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                                <figcaption>
                                    <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                            <div class="photo-title2">
                                <h5>Lorem ipsum 2</h5>
                                <p>May/16/2016</p>
                            </div>

                        </div>

                        <div class="item">
                            <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                                <figcaption>
                                    <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                            <div class="photo-title2">
                                <h5>Lorem ipsum 3</h5>
                                <p>May/15/2016</p>
                            </div>

                        </div>

                        <div class="item">
                            <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                                <figcaption>
                                    <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                            <div class="photo-title2">
                                <h5>Lorem ipsum 4</h5>
                                <p>May/14/2016</p>
                            </div>

                        </div>

                        <div class="item">
                            <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                                <figcaption>
                                    <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                            <div class="photo-title2">
                                <h5>Lorem ipsum 5</h5>
                                <p>May/13/2016</p>
                            </div>

                        </div>

                        <div class="item">
                            <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                                <figcaption>
                                    <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                            <div class="photo-title2">
                                <h5>Lorem ipsum 6</h5>
                                <p>May/12/2016</p>
                            </div>

                        </div>

                        <div class="item">
                            <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                                <figcaption>
                                    <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                            <div class="photo-title2">
                                <h5>Lorem ipsum 7</h5>
                                <p>May/11/2016</p>
                            </div>

                        </div>

                        <div class="item">
                            <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                                <figcaption>
                                    <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                                </figcaption>
                            </figure>
                            <div class="clearfix"></div>
                            <div class="photo-title2">
                                <h5>Lorem ipsum 8</h5>
                                <p>May/10/2016</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="mb-20 clearfix"></div>
{% endblock %}