{% extends 'base.html.twig' %}

{% block body %}

    <div class="mb-20"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                    <figcaption>
                        <p> <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                    </figcaption>
                </figure>
            </div>

            <div class="col-md-9">
                <h3>Lorem ipsum</h3>
                <div class="titleline"></div>

                <div class="clearfix"></div>
                <div class="divider-singledotted"></div>
                <div class="mb-20"></div>


                <p>Autres informations</p>
                <ul class="ul-fiche-espece">
                    <li>Famille : lorem lipsum</li>
                    <li>Nom complet : lorem lipsum</li>
                </ul>

                <div class="divider-singledotted"></div>
                <div class="mb-20"></div>


            </div>

        </div>

    </div>

    <div class="mb-20"></div>

    <div class="wrapper-gray-nao">
        <div class="container">
            <div class="row">
                <h4 class="text-center fiche-color"><i class="fa fa-eye fa-3x" aria-hidden="true"></i> J'ai été observé xxxx fois</h4>
            </div>

        </div>
    </div>

    <div class="mb-20"></div>

    <div class="container">
        <div class="row">
            <h3>Lieu fréquent d'observations</h3>
            <div class="map" id="map"> </div>
        </div>
    </div>

    <div class="mb-20"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Dernières saisies sur cette espèce</h3>
                <div class="titleline"></div>

                <div class="mb-20"></div>

                <div class="owl-image owl-carousel owl-theme">
                    <div class="item">
                        <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                            <figcaption>
                                <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                            </figcaption>
                        </figure>
                        <div class="clearfix"></div>
                    </div>

                    <div class="item">
                        <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                            <figcaption>
                                <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                            </figcaption>
                        </figure>
                        <div class="clearfix"></div>
                    </div>

                    <div class="item">
                        <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                            <figcaption>
                                <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                            </figcaption>
                        </figure>
                        <div class="clearfix"></div>
                    </div>

                    <div class="item">
                        <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                            <figcaption>
                                <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                            </figcaption>
                        </figure>
                        <div class="clearfix"></div>
                    </div>

                    <div class="item">
                        <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                            <figcaption>
                                <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                            </figcaption>
                        </figure>
                        <div class="clearfix"></div>
                    </div>

                    <div class="item">
                        <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                            <figcaption>
                                <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                            </figcaption>
                        </figure>
                        <div class="clearfix"></div>
                    </div>

                    <div class="item">
                        <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                            <figcaption>
                                <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                            </figcaption>
                        </figure>
                        <div class="clearfix"></div>
                    </div>

                    <div class="item">
                        <figure class="effect-phoebe"> <img src="{{ asset('images/birds/1.jpg') }}" alt=""/>
                            <figcaption>
                                <p>  <a class="nivo-lightbox" href="{{ asset('images/birds/1.jpg') }}" title="This is an image title"><i class="fa fa-search effect-3"></i></a> </p>
                            </figcaption>
                        </figure>
                        <div class="clearfix"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}